.slider {
  -webkit-appearance: none;
  align-items: center;
  border: #009c99 solid 1px;
  border-radius: 10px;
  display: flex;
  height: 42px;
  width: 100px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #000000;
  border-radius: 100%;
  cursor: ew-resize;
  height: 26px;
  width: 26px;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  background: #000000;
  border: 0;
  border-radius: 100%;
  cursor: ew-resize;
  height: 26px;
  width: 26px;
}

.untouchable-slider {
  -webkit-appearance: none;
  align-items: start;
  border: #009c99 solid 1px;
  border-radius: 10px;
  display: flex;
  height: 42px;
  width: 100px;
}

.untouchable-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #000000;
  border-radius: 100%;
  height: 26px;
  margin-top: calc(310px / 1.5 / 2 - 13px);
  width: 26px;
}

.untouchable-slider::-moz-range-thumb {
  -webkit-appearance: none;
  background: #000000;
  border: 0;
  border-radius: 100%;
  cursor: ew-resize;
  height: 26px;
  width: 26px;
}

@media screen and (max-width: 900px) {
  .untouchable-slider::-webkit-slider-thumb {
    margin-top: calc(170px / 1.5 / 2 - 13px);
  }
}
